<div class="slider-area">
    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide SGBanners-container" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="assets/img/SuperGeeks-fix-install-service.jpg" alt="">

                <div class="container">

                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
</div>

<div class="container">
    <div class="row supergeeks-featurette">
        <div class="col-sm-3 text-center">
            <div class="info-box" id="repair-service">
                <div class="heading">
                    <h2>Repairs & Maintenance</h2>
                </div>
                <img class="" alt="repairs and maintenance"
                     src="assets/img/spanner.png"
                        />

                <div class="caption">
                    <div class="content">
                        <p class="lead">
                            Do you need a mobile phone repair? We carry out more than 30,000 mobile phone repairs every
                            month – and we could help fix your phone today
                        </p>

                        <p class="text-center"><a href="#/repairs">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="info-box" id="why-us">
                <div class="heading">
                    <h2>Why Choose SuperGeeks</h2>
                </div>
                <img class="" alt="SuperGeeks Gadget Protection - SGP"
                     src="assets/img/repair-service.png"/>

                <div class="caption">
                    <div class="content">
                        <p class="lead">
                            We do know technology. From any make of PCs & MACs to Cameras, Mobile Phones,
                            Consumer Electronics and White Goods, we can fix it.
                        </p>

                        <p class="text-center"><a href="#/why-chose-us">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="info-box" id="tech-support-box">
                <div class="heading">
                    <h2>Reliable Tech Support</h2>
                </div>
                <img class="" alt="SuperGeeks Gadget Protection - SGP"
                     src="assets/img/SGP-repair-man.svg"/>

                <div class="caption">
                    <div class="content">
                        <p class="lead">Do you need a mobile phone repair? We carry out more than 30,000 mobile phone
                            repairs every month – and we could help fix your phone today
                        </p>

                        <p class="text-center"><a href="#/tech-support">Learn more</a></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="info-box" id="sgp">
                <div class="heading">
                    <h2>Gadget Protection</h2>
                </div>
                <img class="" alt="SuperGeeks Gadget Protection - SGP"
                     src="assets/img/gadget-protection.svg"/>

                <div class="caption">
                    <div class="content">
                        <p class="lead">SuperGeeks Gadget Protection (SGP) is a device protection package that
                            gives you protection from accidental damages and other device problems.
                        </p>

                        <p class="text-center"><a href="#/sgp">Learn more</a></p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
